* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "roboto", serif;
}

.intro {
  padding-bottom: 380px;
  background-image: url(.././img/intro-background.png);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.intro__header {
  padding-top: 18px;
}

.header-margin {
  margin-top: auto;
}

.header__nav,
.footer__nav,
.footer__contacts {
  list-style: none;
  float: left;
}

.header__nav a,
.footer__nav a {
  padding-right: 60px;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  color: #505f98;
}

.header__title,
.footer__title {
  font-weight: 900;
  font-size: 26px;
  color: #37447e;
  text-align: center;
}

.header__button,
.footer__button {
  float: right;
  background-color: #111b47;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  border: none;
  border-radius: 2px;
  padding: 4px 40px;
  cursor: pointer;
}

.description {
  text-align: left;
  line-height: 30px;
  color: #505f98;
}

.button {
  padding: 5px 40px;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  font-weight: 500;
  color: #fff;
  background-color: #111b47;
  cursor: pointer;
}

.heading {
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: #091133;
}

.margin {
  margin: auto;
}

.intro__main {
  margin-top: 255px;

  .main__heading {
    margin-bottom: 20px;
    float: left;
    font-size: 50px;
    font-weight: 500;
    line-height: 66px;
    letter-spacing: 1px;
    color: #091133;
  }

  .main__description {
    font-size: 18px;
  }

  .main__button {
    margin-top: 74px;
    margin-right: 30px;
  }

  .main__button:last-child {
    color: #091133;
    border: 2px solid #091133;
    background-color: rgba(0, 0, 0, 0);
  }
}

.perk {
  .perk__main {
    margin-top: 160px;

    .perk__description {
      margin-top: 16px;
      font-size: 16px;
    }

    .perk__benefit {
      margin-top: 92px;
      margin-bottom: 162px;
    }

    .benefit__title {
      margin-top: 14px;
      font-size: 16px;
      line-height: 26px;
      color: #091133;
    }

    .benefit__description {
      font-size: 12px;
      line-height: 18px;
      color: #5d6970;
    }
  }
}

.about {
  margin-top: 122px;

  .about__description {
    float: right;
    margin-top: 16px;
    font-size: 16px;
  }

  .about__main:nth-child(2),
  .about__main:last-child {
    margin-top: 230px;
  }

  .about__main:last-child {
    margin-bottom: 100px;
  }

  .about__button {
    font-size: 14px;
    margin-top: 40px;
  }
}

.offer {
  padding-top: 205px;
  padding-bottom: 205px;
  background: url(../img/Group.png) no-repeat, url(../img/offer-figure.png) no-repeat;
  background-position: 50% 90%, center 80%;
  background-size: cover, contain;
  text-align: center;

  .offer__description {
    margin-top: 16px;
    font-size: 16px;
    text-align: center;
  }

  .offer__price {
    display: block;
    margin-top: 35px;
    font-weight: 500;
    font-size: 50px;
    line-height: 66px;
    letter-spacing: 1px;
    color: #222f65;
  }

  .offer__item {
    display: block;
    font-size: 16px;
    color: #222f65;
  }

  .offer__slogan {
    display: block;
    margin-top: 60px;
    font-size: 14px;
    line-height: 24px;
    color: #5d6970;
  }

  .offer__button {
    margin-top: 10px;
    font-size: 14px;
  }
}

.footer {
  background-color: #e7ecff;

  .footer__top {
    display: block;
    padding-top: 60px;
    padding-bottom: 40px;
    justify-content: space-between;

    .footer__copyright {
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: #939ea4;
    }

    .footer__title {
    }

    .footer__button {
      font-size: 12px;
      line-height: 18px;
    }
  }

  .footer__bottom {
    display: flex;
    padding-top: 20px;
    padding-bottom: 35px;
    border-top: 1px solid #cdd1d4;

    .footer__nav a {
      color: #929ecc;
    }

    .footer__nav,
    .footer__contacts {
      float: none;
      display: flex;
    }

    .footer__nav li,
    .footer__nav a {
      display: block;
    }

    .footer__contacts {
      justify-content: flex-end;
    }

    .footer__contacts li,
    .footer__contacts a,
    .footer__contacts a img {
      display: block;
      font-size: 0;
      margin-left: 10px;
    }
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  transform: translate(0px, 0px);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__content {
  position: relative;
  color: #000;
  padding: 30px;
  border: 10px solid rgb(15, 15, 15);
  border-radius: 20px;
  background-image: url(../img/popup-ipad.svg);
  background-repeat: no-repeat;
  background-position: 110% 50%;
  background-size: contain;
  background-color: #fff;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translate(0px, -100%);

  .popup__close {
    position: absolute;
    left: 45px;
    top: 30px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 25px;
  }

  .modal__description {
    margin-top: 16px;
    font-size: 16px;
  }

  .modal__benefit {
    margin-top: 52px;
  }

  .benefit__title {
    margin-top: 14px;
    font-size: 16px;
    line-height: 26px;
    color: #091133;
  }

  .benefit__description {
    font-size: 12px;
    line-height: 18px;
    color: #5d6970;
  }

  .modal__mockup {
    margin-left: 150px;
    margin-top: 70px;
    padding-bottom: 90px;

    .mockup__heading {
      font-weight: 500;
      line-height: 40px;
      font-size: 30px;
      color: #fff;
    }

    .mockup__description {
      font-weight: 300;
      margin-top: 50px;
      line-height: 25px;
      font-size: 18px;
      color: #fff;
    }

    .mockup__button {
      padding: 3px 40px;
      margin-top: 90px;
      background-color: #007bff;
      font-size: 12px;
    }

    .mockup__button:last-child {
      margin-left: 20px;
      background-color: #001022;
      border: 1px solid #007bff;
      color: #007bff;
    }
  }
}

//MEDIA

@media (max-width: 575.98px) {
  .button {
    padding: 5px 20px;
    font-size: 14px;
    line-height: 20px;
  }

  .description {
    line-height: 20px;
  }

  .intro {
    padding-bottom: 75px;
    background: #e7ecff;

    .main__heading {
      font-size: 35px;
      line-height: 35px;
    }

    .main__description {
      font-size: 16px;
    }

    .main__button {
      margin-top: 50px;
    }
  }

  .perk {
    .perk__main {
      margin-top: 50px;

      .perk__benefit {
        margin-top: 50px;
        margin-bottom: 0px;
      }

      .perk__image {
        display: none;
      }
    }
  }

  .about {
    margin-top: 100px;

    .about__image {
      width: 50%;
      margin-left: 50%;
      transform: translate(-50%, 0);
    }

    .about__heading {
      font-size: 35px;
      line-height: 35px;
      text-align: center;
      margin-top: 20px;
    }

    .about__description {
      text-align: left;
      margin-left: 15px;
    }

    .about__main:nth-child(2),
    .about__main:last-child {
      margin-top: 100px;
    }

    .about__main:last-child {
      margin-bottom: 35px;
    }

    .about__button {
      margin-left: 50%;
      transform: translate(-50%, 0);
      margin-top: 75px;
    }
  }

  .offer {
    padding-top: 70px;
    padding-bottom: 50px;
  }

  .footer {
    .footer__top {
      padding-top: 30px;
      padding-bottom: 20px;

      .footer__copyright {
        line-height: 12px;
      }

      .footer__title {
        font-size: 18px;
      }
    }

    .footer__bottom {
      padding-top: 10px;
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;

      .footer__nav {
        justify-content: space-between;
        margin-top: 10px;
        margin-left: 50px;
      }

      .footer__contacts {
        justify-content: space-between;
        margin-top: 15px;
      }

      .footer__contacts li:first-child,
      .footer__contacts a:first-child,
      .footer__contacts a img:first-child {
        margin-left: 0;
      }
    }
  }

  .popup__content {
    background-image: none;

    .popup__close {
      top: 15px;
      left: 300px;
    }

    .modal__benefit {
      margin-top: 10px;
    }

    .benefit__title {
      margin-top: 5px;
    }

    .modal__mockup {
      margin-top: 30px;
      margin-left: 0;
      padding-bottom: 0px;

      .mockup__heading {
        font-size: 25px;
        color: #000;
      }

      .mockup__description {
        margin-top: 10px;
        color: #000;
      }

      .mockup__button {
        display: inline-block;
        padding: 3px 10px;
        margin-top: 10px;
      }

      .mockup__button:last-child {
        margin-left: 10px;
      }
    }
  }
}
